*{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;;
}
#app_container
{
    min-height: 100vh;
    background-color: #fff;
}
.nav_head
{
    position: relative;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 52px;
    background-color:#283E4A;
    -webkit-box-align: center;
    align-items: center;
}
.nav_container
{
    position: relative;
    width: 1128px;
    padding: 0 16px;
    margin: auto;
}
.nav_logo
{
    width: 110px;
    height: 30px;
    position: relative;
    float: left;
    padding-top: 2px;
}
.nav_content
{
    flex-basis: 100%;
    text-align: right;
}
.nav_signin
{
    background-color: rgba(0,0,0,0);
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: inherit;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
}
.nav_signin:hover{
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}
.nav_joinnow
{
    background-color: rgba(0,0,0,0);
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: inherit;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.7), inset 0 0 0 2px rgba(0,0,0,0), inset 0 0 0 1px rgba(0,0,0,0);
}
.nav_joinnow:hover{
    background-color: rgba(255,255,255,0.1);
    color: #fff;    
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.7), inset 0 0 0 2px #fff, inset 0 0 0 1px rgba(0,0,0,0);
}
.for_content
{
    box-sizing: border-box;
    min-height: calc(100vh - 122px);
    width: calc((576px * 1) + 160px);
    padding-top: 52px;
    float: none;
    margin: auto;
}
.content_wrapper
{
    padding-top: 20px;
}
.content_body
{
    box-sizing: border-box;
}
.form_content
{
    width: 100%;
    max-width: 430px;
    text-align: left;
}
.form_label
{
    font-size: 0.9rem;
    font-weight: 300;
    display: block;
    margin: 12px 0 3px;
}
.input_error
{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(0,0,0,0.9);
    margin-top: 1px;
    text-align: left;
    color: #d11124;
}
.form_action
{
    margin-top: 8px;
}
.btn_cancel
{
    text-decoration: none;
    color: #006097;
}
@media only screen and (max-width: 960px){
.for_content {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 26px;
    max-width: 720px;
    margin: 0px;
    width: 100%;
}
.content_wrapper{
    padding: 0px;
}
.form_label{
    font-size: 0.8rem;
    margin: 20px 0px 0px;
    font-weight: 400;
}
.form_action{
    margin-top: 0px;
}
}