*{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
#app_container
{
    min-height: 100vh;
    background-color: #fff;
}
.home_head
{
    position: relative;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 52px;
    align-items: center;
}
.home_container
{
    position: relative;
    width: 1128px;
    margin: auto;
    padding: 12px 0 16px;
}
.home_logo
{
    width: 135px;
    height: 34px;
    position: relative;
    float: left;
}
.home_content
{
    flex-basis: 100%;
    text-align: right;
}
.home_joinnow
{
    background-color: rgba(0,0,0,0);
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
    margin-right: 12px;
}
.home_joinnow:hover{
    background-color: rgba(207,207,207,0.25);
    color: rgba(0,0,0,0.75);
}
.home_signin
{
    background-color: rgba(0,0,0,0);
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #0073b1;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
    box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px rgba(0,0,0,0), inset 0 0 0 1px rgba(0,0,0,0);
}
.home_main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.home_section
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1128px;
    min-height: 840px;
    padding: 60px 0;
    position: relative;
}
.home_hero
{
    align-content: start;
    min-height: 700px;
    padding-bottom: 138px;
    padding-top: 40px;
}
.home_hero::before
{
content: '';
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -2;
    background-color: #faf9f7;
}
.home_hero::after
{
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: -2;
    background-color: #fff;
}
.hero
{
    width: 100%;
}
.hero_desktop_img
{    
    z-index: 1;
    width: 700px;
    height: 670px;
    position: absolute;
    right: -150px;
    transition: opacity 334ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    bottom: 0px;
}
.hero_mobile_img
{
    display:none;
}
.intent_module 
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    margin-bottom: 42px;
}
.intent_module_list
{
    width: 100%;
    list-style: none;
}
li{
    text-align: left;
}
.intent_module_button
{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: right;
    min-height: 56px;
    width: 408px;
    line-height: 25px;
    background-color: #fff;
    padding: 16px 16px;
    border-radius: 5px;
    color: rgba(0,0,0,0.9);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 4px 6px rgba(0,0,0,0.2);
    transition: box-shadow 83ms, -webkit-box-shadow 83ms;
    margin-bottom: 16px; 
    text-decoration: none;
    color: inherit;  
}
.intent_module_button:hover{
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 6px 9px rgba(0,0,0,0.2);
    transition: box-shadow 83ms, -webkit-box-shadow 83ms;
}
.intent_arrow
{
   width: 24px;
   height: 24px;
   margin-left: 16px;
   flex-shrink: 0;
   display: inline-flex;
    vertical-align: middle;
   transition: opacity 334ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.home_hero+.home_section
{
    padding-top: 60px;
    padding-bottom: 120px;
}
.search_cta
{
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}
.job_finder_cta
{
    min-width: 408px;
    margin-right: 72px;
    align-self: flex-start;
}
.suggested_search
{
    width: 100%;
    -webkit-box-flex: 2;
    flex-grow: 2;
    align-self: flex-start;
}
.see_more_less_state
{
    display: none;
}
.see_more_less_list
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    list-style: none;
}
.pill
{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: left;
    min-height: 56px;
    height: auto;
    width: auto;
    float: left;
    background-color: rgba(0,0,0,0.08);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 28px;
    padding: 8px 20px;
    margin: 0px 6px 12px 0px;
    text-decoration: none;
}
.pill:hover
{
    background-color: rgba(0,0,0,0.2);
    box-shadow: none;
    border-radius: 28px;
    cursor: pointer;
}
.show_more_less_label
{
    font-weight: 600;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    user-select: none;
    display: block;
}
.see_more_less-list_show_more
{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
}
.arrow_down_icon
{
    width: 15px;
    height: 15px;
    margin-left: 4px;
    transform: rotate(180deg);
}
.section_full
{
    min-height: 0;
    padding: 0;
}
.talent_finder
{
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 70px 0;
}
.talent_finder_header
{
    width: calc(408px + 5px);
    margin-right: calc(72px - 5px);
}
.talent_finder.pill{
    flex-shrink: 1;
}
.talent_finder::after
{
    content: '';
    width: 100vw;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -2;
    background-color: #c58224
}
.pill_transparent
{
    border: solid 1px rgba(0,0,0,0.6);
    background: transparent;
}
.slide_list
{
    overflow: hidden;
    position: relative;
    padding-left: 2px;
    padding-bottom: 6px;
}
.slide_list_header
{
    width: 1126px;
    height: 33px;
    display: flex;
    position: sticky;
    left: 0;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
}
.testinomials.slide_list_header_nav
{
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0;
}
.slide_list_header_nav
{
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
}
.slide_list_nav_wrap
{
    display: flex;
    padding: 0 8px;
}
.slide_list_prev_button
{
    transform: rotate(180deg);
    cursor:not-allowed;
}
.slide_list_item
{   
    align-items: stretch;
    display: flex;
    transition: all 334ms cubic-bezier(0.4, 0, 0.2, 1);
    list-style: none;
}
.testimonials_card
{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 96px;
}
.testinomials_content
{
    margin-right: 64px;
    width: 563px;
}
.testimonial_image
{
    width: 450px;
    border-radius: 50%;
}
.testimonials_actor
{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-top: 24px;
}
.no-min-height
{
    min-height: 0;
}
.product_cta
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 60px, 0px;
}
.people_cta
{
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    height: 100%;
    margin-right: 16px;
}
.people_cta_img
{
    flex-grow: 2;
    height: auto;
    max-width: 300px;
    margin: 0 72px 56px 0;
}
.people_cta_content
{
    width: 513px;
    margin: auto 0;
}
.learning_cta
{
    display: flex;
    -webkit-box-flex: 2;
    flex-grow: 2;
    flex-wrap: wrap;
    height: 100%;
}
.learning_cta:last-child
{
    margin-right: 0;
}
.learning_cta_img
{
    flex-grow: 2;
    height: auto;
    max-width: 300px;
    margin: 0 72px 56px 0;
}
.learning_cta_content
{
    width: 500px;
    margin: auto 0;
}
.learning-cta .dropdown
 {
    max-width: initial;
 }
 .dropdown
 {
    -webkit-box-align: center;
    align-items: center;
    position: relative;
 }