#app_container
{
    min-height: 100vh;
    background-color: #fff;
}
.app_content
{
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    padding-top: 52px;
    margin-bottom: 24px;
    min-height: calc(100vh - 102px);
    float:none;
}
.head
{
    height: 8px;
    background-color: #283e4a;
}
.header_logo
{
    padding: 32px 0 24px 0;
}
.footer
{
    height: 72px;
    border-top: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}
.footer_wrapper
{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.copyright
{
    font-size: 13px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
}
.footer_logo{
    height: 20px;
    position: relative;
    right: 3px; 
}
.footer_nav
{
    display: flex;
    list-style: none;
}
.footer_nav li
{
    font-size: 12px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.9);
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-family: inherit;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
}
@media only screen and (max-width: 769px)
{
    .app_content
    {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 24px;
        margin-bottom: 0px;
    }
.footer {
    display: none;
}
}